<!DOCTYPE html>
<html lang="en">
<head>
<title>Calculate Price</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1>Calculate Price</h1>
		<p>Select elements accordingly for Amount Calculation.</p>

		<select Product="widget" id="widget">
			<option value="Big-Widget">Big-Widget</option>
			<option value="Small-Widget">Small-Widget</option>
		</select>

		<select Discount="code" id ="code" >
            <option></option>
			<option value="10OFF">10OFF</option>
			<option value="50OFF">50OFF</option>
			<option value="250OFF">250OFF</option>
		</select>
			<input type="date" name="Date"id="date">
			<button onclick="goToPage()"> Show Amount</button>
        <br><br>
        <h2 id="output"> Results : {{ result }}</h2>
	</div>
	<br>
    </div>

<script type="text/javascript">
    function goToPage() {
        var widget = document.getElementById('widget').value;
		var code = document.getElementById('code').value;
		var date = document.getElementById('date').value;
        window.location = "/api/get_price/" + widget+"_"+ code +"_"+date;
    }
</script>

</body>
</html>